* {
    padding: 0%;
    margin: auto;

}

.header{

}
.box{
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 200px;
    width: 400px;
    background-color:slategrey ;
}
.regbox{
    background-color: darkslategrey;
    height: 100px;
    width: 200px;
}
.logbox{

}