<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>


</head>

<body>

    <div class="wrap">
        <table class="table">
            <thead>
                <tr>
                    
                    <th scope="col">#</th>-
                    <th scope="col">First name</th>
                    <th scope="col">Last name</th>
                    <th scope="col">Full name</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    {% for person_info in person_info %}
                    <th scope="row">1</th>
                    <td>
                    {{ person_info['First_name'] }} -
                    </td>
                    <td>
                    {{ person_info['Last_name'] }} -
                    </td>
                    <td>
                    {{ person_info['Full_name'] }}
                    </td>
                </tr>
            </tbody>
        </table>
        {% endfor %}
    </div>



</body>

</html>