<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{{ url_for('static', 'filename=board.css') }}">

</head>

<body>
    {% for j in range(0,myRangeOfRows) %}
    <div class="wrap">
        {% for i in range(0,myRangeOfColums) %}
            <div class="box" style="background-color: {{myChosenColor1 if j % 2 == 0 else myChosenColor2 }};"></div>
        {% else %}
            <div class="box" style="background-color: {{myChosenColor1 if j % 2 == 1 else myChosenColor2 }};"></div>
        {% endif %}
        {% endfor %}
    </div>
    {% endfor %}


</body>

</html>